<div class="container flex displayColumn">
    <h1 class="title">
        TO DOS:
    </h1>
    <div class="cardArea flex displayColumn">
        <app-card (clickAddEmitter)="addTask($event)" (deleteEmitter)="deleteAll()" [isEdit]="true"></app-card>
    </div>
    <div *ngFor="let item of items" class="cardArea flex displayColumn">
        <app-card (clickDeleteEmitter)="deleteTask($event)" (changeCheckEmitter)="markTask($event)" [checked]="item.select" title={{item.title}} content={{item.content}} id={{item._id}} checked={{item.checked}}></app-card>
    </div>
</div>
 