.body{
    width: 100%;
    background-color: #ebebeb;
    border-radius: 10px;
    min-height:10rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 0.7rem;
    margin: 1rem 0px;
}
.container{
    width: 100%;
}
.title{
    font-size: 2rem;
    margin: 0.2rem;
}
.content{
    font-size: 1rem;
    margin: 0.5rem 0.7rem;
}

.check{
    min-width: 3rem;
    margin: auto;
    input{
        height: 1.5rem;
        width: 1.5rem;
    }
}

.trash{
    margin-bottom: 5rem;
    cursor: pointer;
    color: red;
    font-size: 20px;
}

.zoneInput{
    input{
        border-radius: 5px;
        border-style: ridge;
        background-color: #ebebeb;
    }
    textarea{
        width: 100%;
        resize: none;
        border-radius: 5px;
        border-style: ridge;
        background-color: #ebebeb;
    }
    .add{
        margin-left: auto;
        font-size: 50px;
        color: green;
        cursor: pointer;
    }
    .deleteAll{
        margin-left: 15px;
        font-size: 50px;
        color: orangered;
        cursor: pointer;
    }
}
